name: Update Data

on:
  push:
    branches:
      - master
  schedule:
   - cron: "0 0,8,16 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: install deps
      run: |
           npm install
           npm start
    - name: Commit files
      run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git diff-index --quiet HEAD || git commit -m "Update Data" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
          github_token: ${{ secrets.COVID_DATA_UPDATE }}
